.app {
  background: #efefef;
  text-align: center;
  border-radius: 10px;
  margin: 10px 0;
  padding-bottom: 20px;
}

.site-header {
  padding: 1.5rem 0;
}


.modal-header{
  text-align: center;
  font-size: 1.2rem;
  background: rgba(0,0,0,.075);
}

.hoverTable {
cursor: pointer;
}
